NAME="Packet Tools AI"
VERSION="v1.2.0"
URL_GITHUB="https://github.com/ph0Void/packet-tools"

#PUERTO -  BACKEND - 7531
SERVER_PORT=7531

# ENVIROMENT "development" | "production"
NODE_ENV="development" 

#DATABASE
DATABASE_URL="file:.packet_tool_database.db"

# SECURITY 
JWT_SECRET="una_clave_muy_secreta_xd"
JWT_EXPIRATION=36000
RATE_LIMIT_REFRESH=900000 # 15 min = 900000 mil
RATE_LIMIT_REQUESTS=100 # 100 request

# FRONTEND 
PORT=3090
NEXT_PUBLIC_API_URL="http://localhost:7531"
NEXT_PUBLIC_PROYECT_NAME="Packet Tools AI"
NEXT_PUBLIC_COOKIE_NAME="packet-tools-cookie"

# AGENTES  (OPCIONAL)
#AGENT_HISTORY_MESSAGES=8
#AGENT_CONTEXT_TOKENS=8000
#AGENT_TOOL_OUTPUT_CHARS=4000
#AGENT_CONTENT_CHARS=4000
#AGENT_USER_MESSAGE_CHARS=8000

# LIMITES DE AGENTES (OPCIONAL)
#AGENT_RECURSION_LIMIT=600
#AGENT_CONTEXT_EDIT_TOKENS=24000
#AGENT_TOKEN_LOGGING=true
#AGENT_PROMPT_CACHING=true
#AGENT_SUBAGENT_LOGGING=true

# HUMAN LOOP
# USE_NATIVE_HITL=false

# OFUSCACIÓN DEL INSTALADOR  
DESKTOP_OBFUSCATE=true
